<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>Abdelhadi</title>
  </head>
  <body>
    <main>
      <h1 class="name">Abdelhadi Mohammed</h1>
      <h4 class="bio">programmer, hacker and gamer</h4>
      <div class="main">
        <div class="about">
          <h3>About me:</h3>
          <p>
            I'm abdelhadi, CS student i like understanding how things work and
            playing around with it, worked as web developer since 2018,
            developed some games, learing hacking and messing around with linux
            these days and i like it here :), I love playing video games (mainly
            comptitive games) and I do watch some anime ig my fav is Oregairu.
          </p>
        </div>
        <div class="info">
          <img src="./images/me.png" alt="a pic of me" class="me" />
          <div class="system">
            <
          </div>
        </div>
      </div>
    </main>
    <footer>
      btc : bc1qxghd296akmxkcra6wjufum60847ycjakfya7lk | Twitter :
      <a href="https://twitter.com/the_geeko1">@the_geeko1</a> |
      <a href="https://github.com/thegeeko">Github</a> | Discord : thegeeko#8979
    </footer>
  </body>
</html>
